.header {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}
.subHeading {
  text-align: center;
  font-size: 13px;
  color: rgb(162, 161, 163);
}
.selectViewContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.boardView {
  color: rgb(161, 165, 161);
  text-align: center;
}
.listView {
  color: rgb(161, 165, 161);
  text-align: center;
}
.listIcon {
  width: 180px;
  height: 130px;
  border: 2px solid rgb(133, 142, 133);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardIcon {
  width: 180px;
  height: 130px;
  border: 2px solid rgb(133, 142, 133);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boardView:hover {
  color: #232;
}
.listView:hover {
  color: #232;
}
.boardView:hover .boardIcon {
  border: 3px solid rgb(70, 104, 184);
}
.listView:hover .listIcon {
  border: 3px solid rgb(70, 104, 184);
}
.active {
  color: #232;
}
.activeBorder {
  border: 3px solid rgb(70, 104, 184);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .selectViewContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 479px) {
  .selectViewContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .listIcon {
    width: 150px;
    height: 130px;
  }
  .boardIcon {
    width: 150px;
    height: 130px;
  }
}
