.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
  padding: 0px 20px;
}
.componentHolder {
  max-width: 600px;
  /* min-width: 480px; */
  width: 100%;
  min-height: 450px;
}
.backBtn {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font: inherit;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #007bff;
  color: #007bff;
}
.nextBtn {
  margin: 0;
  padding: 0px 10px;
  font: inherit;
  border-radius: 0;
  display: inline-block;
  text-align: center;
  min-width: 80px;
  height: 40px;
  border-radius: 5px;
  display: inline-block;
  background-color: #007bff;
  border: 1px solid #007bff;
  color: #fef;
}
.closeBtnContainer {
  display: flex;
  justify-content: end;
  align-items: center;
}
.closeBtn {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 5px;
  text-align: center;
  font: inherit;
  appearance: none;
  width: 40px;
  color: #c7c7c7;
}
.formHolder {
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  max-width: 650px;
  min-width: 450px;
  width: 100%;
  min-height: 500px;
  height: 100%;
}
.pages {
  width: 60px;
  display: flex;
  justify-content: space-between;
}
.pages span {
  background-color: #d0d0d0;
  display: inline-block;
  border-radius: 2px;
  text-align: center;
  width: 10px;
  height: 10px;
}
.currentSpan {
  display: inline-block;
  width: 30px;
}

@media screen and (max-width: 580px) {
  .formHolder {
    max-width: 400px;
    width: 100%;
  }
}
